@font-face {
    font-family: 'gilroyextrabold';
    src: url('/fonts/gilroyextrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('/fonts/gilroylight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

h1 {
    margin: 0;
    font-family: 'Gilroy', 'Open Sans', sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    letter-spacing: 0.17px;
    color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.main-navigation {
    position: relative;
    background-color: #F8E297;
    width: 1160px;
    margin: 40px auto 35px;
    padding: 50px 60px;
}

.main-logo {
    position: absolute;
    top: -18px;
    display: block;
}

.main-logo:hover {
    opacity: 0.6;
}

.main-logo:active {
    opacity: 0.3;
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
}

.search-form input {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.2px;
    text-transform: none;
    opacity: 0.3;

    background-color: transparent;
    border: none;
}

.search-form input:hover {
    opacity: 0.6;
}

.search-form input:focus {
    opacity: 1;
    border-bottom: 2px solid #000000;
}

/* User navigation */
.user-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    width: 500px;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.2px;
    text-transform: none;
}

.user-navigation-link {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.user-navigation-link:last-child {
    margin-left: 35px;
}

.user-navigation-link:nth-last-child(2) {
    margin: 0 0 0 auto;
}

.logout {
    opacity: 0.3;
    margin-left: 15px;
}

.user-navigation-link .icon { 
    position: absolute;
    top: 9px;
    left: 0;
}

.user-navigation-link:hover,
.user-navigation-link:hover .icon  {
    opacity: 0.6;
}


.user-navigation-link .icon-login {
    width: 15px;
    height: 15px;
    background: url("../img/user.svg") no-repeat 0 0;
}

.user-navigation-link .icon-compare {
    top: 11px;
    width: 10px;
    height: 10px;
    background: url("../img/compare.svg") no-repeat center;
}

.user-navigation-link .icon-cart {
    width: 12px;
    height: 12px;
    background: url("../img/cart.svg") no-repeat center;
}

/* Navigation */

.navigation {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;


    font-family: 'Gilroy', 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 3.6px;
    color: #000000;
    text-transform: uppercase;


    position: relative;
}

.navigation a:active,
.user-navigation a:active {
    opacity: 0.3;
}


.navigation-company {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}

.navigation-company-link {
    margin-right: 35px;
}

.navigation-company-link:hover {
    opacity: 0.6;
}

.navigation-company-link:last-child {
    margin: 0 0 0 auto;
}

.navigation a,
.user-navigation a {
    color: #000000;
}

/* Drowdown */

.dropdown {
    position: relative;
    padding-right: 25px;
    display: inline-block;
    z-index: 10;
}

.dropdown-title::after {
    position: absolute;
    top: 2px;
    right: 0;
    content: "";
    width: 16px;
    height: 16px;
    background: url("../img/plus.svg") center no-repeat;
}

.dropdown-title:hover {
    opacity: 0.6;
} 

.dropdown-title:hover::after {
    opacity: 1;
}

.dropdown-submenu {
    display: none;
    position: absolute;
    flex-wrap: wrap;
    margin: 0 0 0 -60px;
    padding: 20px 60px 35px;
    width: 1160px;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0.15px;
    text-transform: none;

    background-color: #F8E297;
}

.dropdown:hover .dropdown-submenu {
    display: flex;
}

.dropdown-submenu ul {
    margin-right: 60px;
}

.dropdown-submenu-element:hover {
    opacity: 0.6;
}

.dropdown-submenu-element:active {
    opacity: 0.3;
}

/* Main */

.main {
    overflow-x: hidden;
}

.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.company-info {
    display: flex;
    margin: 0 auto 90px;
    justify-content: space-between;
}

.section-title {
    position: relative;
    margin: 0 0 35px;
    padding: 50px 0 0;

    font-family: 'Gilroy', 'Open Sans', sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    letter-spacing: 0.2px;
    color: #000000;
}

.about-us {
    width: 480px;
}

.contacts {
    width: 560px;
}

.section-title::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 80px;
    height: 7px;
    background-color: #000000;
}

.section-description {
    margin: 0 0 30px;
}

.partners-list {
    list-style-type: none;
    margin: 65px 0 50px;

    font-family: 'Gilroy', 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 800;
    color: #000000;
}

.partners-list li::before {
    content: "";
    display: inline-block;
    margin-right: 25px;
    width: 4px;
    height: 4px;
    border: 2px solid #E5E5E5;
    border-radius: 50%;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.button,
.filter-button {
    font-family: 'Gilroy', 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: 3.5px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;

    width: auto;
    min-width: 200px;
    height: 40px;
    display: inline-block;
    padding: 0 25px;
    position: relative;
    z-index: 0;
}

.button::before,
.filter-button::before {
    width: 100%;
    height: 8px;
    background-color: #f0c52e;
    position: absolute;
    content: "";
    top: 16px;
    left: 0px;
    z-index: -1;
}

.button:hover::before,
.filter-button:hover::before {
    height: 40px;
    position: absolute;
    top: 0px;
}

.button:active,
.filter-button:active {
    color: rgba(0, 0, 0, 0.3);
}

.map-image {
    display: block;
    margin: 40px 0 55px;
}

/* Footer */

.main-footer {
    background-color: #464646;
    padding: 60px 0 65px;
}

.footer-logo {
    display: block;
}

.first-floor {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer-user-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 500px;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.2px;
    text-transform: none;
}

.footer-user-navigation-link {
    position: relative;
    margin-left: 40px;
    padding-left: 25px;
    cursor: pointer;
    opacity: 0.7;
}

.footer-user-navigation-link:first-child {
    margin-left: 0;
}

.footer-logout {
    opacity: 1;
    margin-left: 20px;
    padding: 0;
}

.footer-user-navigation-link .icon { 
    position: absolute;
    top: 9px;
    left: 0;
    opacity: 1;
}

.footer-user-navigation-link .footer-icon-login {
    width: 15px;
    height: 15px;
    background: url("../img/user-yellow.svg") no-repeat 0 0;
}

.footer-user-navigation-link .footer-icon-compare {
    top: 11px;
    width: 10px;
    height: 10px;
    background: url("../img/compare-yellow.svg") no-repeat 0 0;
}

.footer-user-navigation-link .footer-icon-cart {
    width: 12px;
    height: 12px;
    background: url("../img/cart-yellow.svg") no-repeat 0 0;
}

.footer-user-navigation-link:hover {
    opacity: 1;
}

.footer-user-navigation-link:hover .icon {
    opacity: 0.6;
}

.second-floor {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.footer-contacts {
    margin: 0;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: none;
    color: #ffffff;
}

.footer-navigation {
    display: flex;
    margin: 0;
    padding: 0;

    font-family: 'Gilroy', 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 3.6px;
    color: #ffffff;
    text-transform: uppercase;
}

.footer-navigation a {
    margin: 0 15px;
}

.footer-navigation a:hover {
    opacity: 0.6;
}

.footer-user-navigation-link:active,
.footer-navigation a:active {
    opacity: 0.3;
}

.third-floor {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.third-floor::before {
    position: absolute;
    top: 13px;
    left: 0;
    content: "";
    width: 80px;
    height: 7px;
    background-color: #FFC600;
}

.footer-social {
    display: flex;
    justify-content: center;
    width: 400px;
    opacity: 0.3;
}

.footer-social li {
    margin: 0 10px;
}

.footer-social a:hover {
    opacity: 0.6;
}

.footer-social a:active {
    opacity: 0.1;
}

.footer-contacts a,
.footer-navigation a,
.footer-user-navigation a {
    color: #ffffff;
}

.copyright {
    width: 360px;
    text-align: right;
}

.copyright:hover {
    opacity: 0.6;
}

.copyright:active {
    opacity: 0.3;
}

/* Modal */

.modal {
    display: none;
}

/* Catalog-page */

.catalog-title {
    width: 1160px;
    margin: 0 auto;
    padding: 35px 60px 45px;
}

.catalog-title h1 {
    margin-bottom: 25px;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
}

.breadcrumbs li {
    position: relative;
    margin-right: 35px;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs li::after {
    content: "";

    position: absolute;
    top: 9px;
    right: -15px;
    width: 5px;
    height: 8px; 

    background: url(../img/nav-arrow.svg) 0 0 no-repeat;
}

.breadcrumbs a {
    opacity: 0.3;

    color: #000000
}

.breadcrumbs a:hover {
    opacity: 0.6;
}

.breadcrumbs a:active {
    opacity: 0.3;
}

.breadcrumbs-current {
    opacity: 0.3;

    color: #000000
}

.breadcrumbs-current::after {
    display: none;
}

.catalog-content {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.filter {
    background-color: #eeeeee;
    width: 330px;
    position: relative;
}

.filter-title {
    background-color: #DBDBDB;
    padding-left: 60px;
    margin-bottom: 70px;
    position: relative;
}

.filter-title::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #DBDBDB;
    width: 100vw;
    z-index: -1;
}

.catalog-content b {
    font-family: 'Gilroy', 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 70px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    color: #000000;
}

.filter::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #eeeeee;
    width: 100vw;
    z-index: -1;
}

.filter-form {
    padding: 0 60px;
}

.filter fieldset {
    margin: 0 0 30px;
    padding: 0;
    border: none;
}

.filter legend {
    position: relative;
    margin-bottom: 20px;
    padding: 12px 0 0;

    font-family: 'Gilroy', 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.2px;
    color: #000000;
}

.filter legend::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 2px;

    background-color: #000000;
}

.filter-option {
    padding-left: 40px;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 39px;
    font-weight: 300;
    letter-spacing: 0.1px;
  color: #000000;
}

.filter-option label {
    position: relative;
    display: block;
  
    cursor: pointer;
    user-select: none;
}

.filter-input:disabled + span {
    color: #a6a6a6;
}

.filter-input-checkbox + span::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    top: 8px;
    left: -40px;

    background: url(../img/checkbox-off.svg) 0 0 no-repeat;
}

.filter-input-checkbox:checked + span::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    top: 8px;
    left: -40px;

    background: url(../img/checkbox-on.svg) 0 0 no-repeat;
}

.filter-input-radio + span::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 7px;
    left: -40px;

    border: 4px solid #000000;
    border-radius: 50%;
}

.filter-input-radio:checked + span::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    top: 15px;
    left: -32px;

    background-color: #000000;
    border-radius: 50%;
}

.catalog-sorting {
    display: flex;
    background-color: #eeeeee;
    position: relative;
    padding-left: 70px;
}

.catalog-sorting::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #eeeeee;
    width: 100vw;
    z-index: -1;
}

.sorting-list {
    display: flex;
    padding: 0 0 0 55px;
    align-items: center;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.sorting-list a {
    color: #000000;
}

.catalog-list {
    display: flex;
    width: 760px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px;
}

.catalog-item h3 {
  margin: 0;
  font-family: 'Gilroy', 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: #000000;
}

.catalog-item a {
    color: #000000;
}

.catalog-item-price {
  font-family: 'Gilroy', 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-align: right;
  color: #464646;
}

.catalog-item .label {
  font-family: 'Gilroy', 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  opacity: 0.2;
}

