@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff2') format('woff2'), url('../fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/radomir_tinkov_-_gilroy-light-webfont.woff2') format('woff2'), url('../fonts/radomir_tinkov_-_gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    margin: 0;
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: normal;
    letter-spacing: 0.17px;
    color: #000000;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header */

.main-navigation {
    position: relative;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40px, rgba(248, 226, 151, 1) 40px, rgba(248, 226, 151, 1) 100%);
    width: 1160px;
    margin: 0 auto;
    padding: 22px 60px 50px;
}

.main-logo {
    display: inline-block;
    width: 164px;
    height: 36px;
    margin-bottom: 14px;
}

.main-logo:hover {
    opacity: 0.6;
}

.main-logo:active {
    opacity: 0.3;
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 29px;
}

.search {
    height: 50px;
}

.search-form {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.search-form input {
    width: 355px;
    padding-left: 40px;

    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 45px;
    font-weight: 300;
    letter-spacing: 0.2px;
    text-transform: none;
    color: rgba(0, 0, 0, 0.3)

    background-color: transparent;
    border: none;
    background: url("../img/search.svg") 4px 18px no-repeat;
    outline: none;
}

.search-form input:hover {
    opacity: 0.6;
}

.search-form input:focus {
    opacity: 1;
    border-bottom: 2px solid #000000;
}

.search-form input:active {
    opacity: 1;
    border-bottom: 2px solid #000000;
}

.search-form .search-button {
    display: none;
    width: 85px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 45px;
    font-weight: 300;
    letter-spacing: 0.15px;
    color: #000000;
    border: 2px solid #000000;
    outline: none;
}

.search-form .search-button:hover {
    color: #ffffff;
    background-color: #000000;
}

.search-form .search-button:active {
    display: block;
    color: rgba(255, 255, 255, 0.3)
}

.search-form input:focus+.search-button {
    display: block;
}

.search-form input:active+.search-button {
    display: block;
}

/* User navigation */

.user-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 500px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.2px;
    text-transform: none;
}

.user-navigation-link {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.user-navigation-link:last-child {
    margin-left: 40px;
}

.user-navigation-link:nth-last-child(2) {
    margin: 0 0 0 auto;
}

.logout {
    opacity: 0.3;
    margin-left: 15px;
}

.logout:hover {
    opacity: 0.7;
}

.logout:active {
    opacity: 1;
}

.user-navigation-link .icon {
    position: absolute;
    top: 9px;
    left: 0;
}

.user-navigation-link:hover, .user-navigation-link:hover .icon {
    opacity: 0.6;
}

.user-navigation-link .icon-login {
    width: 15px;
    height: 15px;
    background: url("../img/user.svg") no-repeat 0 0;
}

.user-navigation-link .icon-compare {
    top: 11px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: url("../img/compare.svg") no-repeat center;
}

.user-navigation-link .icon-cart {
    left: 1px;
    width: 12px;
    height: 12px;
    background: url("../img/cart.svg") no-repeat center;
}

/* Navigation */

.navigation {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 3.6px;
    color: #000000;
    text-transform: uppercase;
    position: relative;
}

.navigation a:active, .user-navigation a:active {
    opacity: 0.3;
}

.navigation-company {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}

.navigation-company-link {
    margin-right: 35px;
}

.navigation-company-link:hover {
    opacity: 0.6;
}

.navigation-company-link:last-child {
    margin: 0 0 0 auto;
}

.navigation a, .user-navigation a {
    color: #000000;
}

/* Drowdown */

.dropdown {
    position: relative;
    padding-right: 25px;
    display: inline-block;
    z-index: 10;
}

.dropdown-title::after {
    position: absolute;
    top: 3px;
    right: 0;
    content: "";
    width: 16px;
    height: 16px;
    background: url("../img/plus.svg") center no-repeat;
}

.dropdown-title:hover {
    opacity: 0.6;
}

.dropdown-title:hover::after {
    opacity: 1;
}

.dropdown-submenu {
    display: none;
    position: absolute;
    flex-wrap: wrap;
    margin: 0 0 0 -60px;
    padding: 20px 60px 35px;
    width: 1160px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0.15px;
    text-transform: none;
    background-color: #F8E297;
}

.dropdown:hover .dropdown-submenu {
    display: flex;
}

.dropdown-submenu ul {
    margin-right: 60px;
}

.dropdown-submenu-element:hover {
    opacity: 0.6;
}

.dropdown-submenu-element:active {
    opacity: 0.3;
}

/* Main */

.main {
    overflow-x: hidden;
}

.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Slider */

.slider {
    background: linear-gradient(180deg, rgba(248, 226, 151, 1) 0%, rgba(248, 226, 151, 1) 23%, rgba(255, 255, 255, 1) 23%, rgba(255, 255, 255, 1) 100%);
    margin-bottom: 106px;
}

.slider-element {
    display: none;
    justify-content: space-between;
    position: relative;
}

.slide-text {
    margin-bottom: 44px;
    width: 475px;
}

.slider .slide-1 .slide-header {
    width: 390px;
}

.slider .slide-1::before {
    content: "01";
    position: absolute;
    top: -15px;
    right: 48px;
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 179px;
    line-height: 179px;
    letter-spacing: 0.36px;
    font-weight: normal;
    color: #ffffff;
}

.slider .slide-2 .slide-header {
    width: 255px;
}

.slider .slide-2 .slide-text {
    width: 445px;
}

.slider .slide-2::before {
    content: "02";
    position: absolute;
    top: -15px;
    right: 48px;
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 179px;
    line-height: 179px;
    letter-spacing: 0.36px;
    font-weight: normal;
    color: #ffffff;
}

.slider .slide-3 .slide-text {
    width: 470px;
}

.slider .slide-3::before {
    content: "03";
    position: absolute;
    top: -15px;
    right: 48px;
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 179px;
    line-height: 179px;
    letter-spacing: 0.36px;
    font-weight: normal;
    color: #ffffff;
}

.slider-element .slide-image, .slider-element .slide-description {
    width: 560px;
}

.slide-image img {
    display: block;
    margin: 0 auto;
}

.slide-header {
    position: relative;
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 47px;
    line-height: 56px;
    font-weight: normal;
    color: #000000;
    margin: 37px 0 20px;
    padding-top: 41px;
}

.slide-header::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100px;
    height: 7px;
    background-color: #ffffff;
}


.slide-control-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 49px;
}

.slide-control-elements .slider-button {
    padding: 0 43px;
}

.slider-controls {
    margin-right: 83px;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 21px;
    vertical-align: middle;
    background: url('../img/slider-button-empty.svg') 0 0 no-repeat;
    cursor: pointer;
}

.slider-controls label:last-child {
    margin-right: 0;
}

#product-1:checked~.slider .slide-1, #product-2:checked~.slider .slide-2, #product-3:checked~.slider .slide-3 {
    display: flex;
}

#product-1:checked~.slider label[for="product-1"], #product-2:checked~.slider label[for="product-2"], #product-3:checked~.slider label[for="product-3"] {
    background: url('../img/slider-button.svg') 0 0 no-repeat;
}

.slider-element .parameters {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.parameters-element {
    margin-right: 77px;
}

.parameters-element .element-value {
    margin-bottom: 7px;
    font-family: 'gilroylight', 'Open Sans', sans-serif;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.36px;
    font-weight: normal;
}

.parameters-element .element-definition {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
    font-weight: 300;
    color: #464646;
}

/* Popular-categories */

.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}

.popular-item {
    width: 160px;
}

.popular-item a {
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
    font-weight: normal;
    color: #000000;
}

.popular-item .popular-item-image {
    width: 160px;
    height: 160px;
    background-color: #F8E297;
    margin-bottom: 33px;
}

.popular-item .image-vr {
    box-sizing: content-box;
    padding: 52px 31px;
}

.popular-item .image-mono {
    box-sizing: content-box;
    padding: 43px 0 0 38px;
}

.popular-item .popular-item-label-monopod {
    width: 95px;
}

.popular-item .image-camera {
    box-sizing: content-box;
    padding: 38px 39px 34px 49px;
}

.popular-item .image-fitness {
    box-sizing: content-box;
    padding: 49px 24px 45px 28px;
}

.popular-item .image-watch {
    box-sizing: content-box;
    padding: 32px 48px 30px 55px;
}

.popular-item .image-copter {
    box-sizing: content-box;
    padding: 49px 14px 41px 13px;
}

.popular-item a:hover .popular-item-image {
    background-color: #F0C52E;
}

.popular-item a:active img, .popular-item a:active .popular-item-label {
    opacity: 0.3;
}

/* Services */

.services {
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(229, 229, 229, 1) 25%, rgba(229, 229, 229, 1) 100%);
    margin-bottom: 94px;
}

.service-slider {
    display: flex;
    padding-bottom: 69px;
}

.service-slider-element {
    display: none;
    flex-wrap: wrap;
}

.slider-separator {
    border-right: 7px solid #000000;
    margin-right: 116px;
}


.service-slide-controls {
    padding: 80px 0 70px;
    width: 278px;
}

.service-slide-controls .service-slide-tab {
    width: 100%;
    display: block;
    margin-bottom: 24px;
    cursor: pointer;
}

.service-slide-controls .service-slide-tab:last-child {
    margin-bottom: 0;
}

.service-slide-controls .slider-button {
    min-width: 160px;
    padding: 0 15px;
}

.service-slide-content {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}

.service-slide-1 .service-slide-content {
    width: 698px;
}

.service-slide-2 .service-slide-content {
    width: 714px;
}

.service-slide-3 .service-slide-content {
    width: 691px;
}

.service-slide-header {
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.21px;
    font-weight: normal;
    color: #000000;
    margin: 0 0 30px;
}

.servise-slide-text {
    width: 455px;

    letter-spacing: 0.15px;
}

.service-slide-content .service-slide-image-1 {
    transform: translateY(12px)
}

.service-slide-content .service-slide-image-2,
.service-slide-content .service-slide-image-3 {
    transform: translateY(-7px)
}

#service-1:checked~.service-slider .service-slide-1, 
#service-2:checked~.service-slider .service-slide-2, 
#service-3:checked~.service-slider .service-slide-3 {
    display: flex;
}

/* active tab*/

#service-1:checked~.service-slider label[for="service-1"], 
#service-2:checked~.service-slider label[for="service-2"], 
#service-3:checked~.service-slider label[for="service-3"] {
    background-color: #000000;
}


#service-1:checked~.service-slider label[for="service-1"] .button, 
#service-2:checked~.service-slider label[for="service-2"] .button, 
#service-3:checked~.service-slider label[for="service-3"] .button {
    color: #F7E184;
}

#service-1:checked~.service-slider label[for="service-1"] .button:before, 
#service-2:checked~.service-slider label[for="service-2"] .button:before, 
#service-3:checked~.service-slider label[for="service-3"] .button:before {
    width: 100%;
    background-color: transparent;
}

/* Brands */

.brands {
    margin-bottom: 88px;
}

.brands-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brands-list-element .logo-colorfull {
    display: none;
}

.brands-list-element:hover .logo-monochrome {
    display: none;
}

.brands-list-element:hover .logo-colorfull {
    display: block;
}

/* Company-info */

.company-info {
    display: flex;
    margin: 0 auto 82px;
    justify-content: space-between;
}

.section-title {
    position: relative;
    margin: 0 0 43px;
    padding: 50px 0 0;
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: normal;
    letter-spacing: 0.2px;
    color: #000000;
}

.about-us {
    width: 477px;
}

.contacts {
    width: 560px;
}

.section-title::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 80px;
    height: 7px;
    background-color: #000000;
}

.section-description {
    margin: 0 0 30px;
}

.partners-list {
    list-style-type: none;
    margin: 67px 0 53px;
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: normal;
    color: #000000;
}

.partners-list li::before {
    content: "";
    display: inline-block;
    margin-right: 25px;
    width: 4px;
    height: 4px;
    border: 2px solid #E5E5E5;
    border-radius: 50%;
}

.button {
    display: inline-block;
    position: relative;
    width: auto;
    min-width: 200px;
    height: 40px;
    padding: 0 40px;
    z-index: 0;
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 40px;
    font-weight: normal;
    letter-spacing: 3.5px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}

.button::before {
    position: absolute;
    content: "";
    top: 16px;
    left: 0px;
    width: 100%;
    height: 8px;
    background-color: #f0c52e;
    z-index: -1;
}

.button:hover::before {
    position: absolute;
    top: 0px;
    height: 40px;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

.about-us-button {
    padding: 0 23px;
}

.map-image {
    display: block;
    margin: 39px 0 69px;
    width: 560px;
    height: 222px;
}

/* Footer */

.main-footer {
    background-color: #464646;
    padding: 59px 0 58px;
}

.footer-logo {
    display: block;
    width: 164px;
    height: 36px;
}

.footer-logo:hover {
    opacity: 0.6;
}

.footer-logo:active {
    opacity: 0.3;
}

.first-floor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.footer-user-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 500px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.2px;
    text-transform: none;
}

.footer-user-navigation-link {
    position: relative;
    margin-left: 40px;
    padding-left: 25px;
    cursor: pointer;
    opacity: 0.7;
}

.footer-user-navigation-link:first-child {
    margin-left: 0;
}

.footer-logout {
    opacity: 1;
    margin-left: 20px;
    padding: 0;
}

.footer-logout:hover {
    opacity: 0.6;
}

.footer-logout:active {
    opacity: 1;
}

.footer-user-navigation-link .icon {
    position: absolute;
    top: 9px;
    left: 3px;
    opacity: 1;
}

.footer-user-navigation-link .footer-icon-login {
    width: 15px;
    height: 15px;
    background: url("../img/user-yellow.svg") no-repeat 0 0;
}

.footer-user-navigation-link .footer-icon-compare {
    top: 11px;
    left: 8px;
    width: 10px;
    height: 10px;
    background: url("../img/compare-yellow.svg") no-repeat 0 0;
}

.footer-user-navigation-link .footer-icon-cart {
    width: 12px;
    height: 12px;
    background: url("../img/cart-yellow.svg") no-repeat 0 0;
}

.footer-user-navigation-link:hover {
    opacity: 1;
}

.footer-user-navigation-link:hover .icon {
    opacity: 0.6;
}

.second-floor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 62px;
}

.footer-contacts {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: none;
    color: #ffffff;
}

.footer-navigation {
    display: flex;
    margin: 0 auto;
    padding: 0;
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 3.6px;
    color: #ffffff;
    text-transform: uppercase;
}

.footer-navigation a {
    margin-right: 34px;
}

.footer-navigation a:hover {
    opacity: 0.6;
}

.footer-user-navigation-link:active, .footer-navigation a:active {
    opacity: 0.3;
}

.third-floor {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.third-floor::before {
    position: absolute;
    top: 13px;
    left: 0;
    content: "";
    width: 80px;
    height: 7px;
    background-color: #FFC600;
}

.footer-social {
    display: flex;
    justify-content: center;
    width: 400px;
    opacity: 0.3;
}

.footer-social li {
    margin-right: 23px;
}

.footer-social li:last-child {
    margin-right: 0;
}

.footer-social a {
    display: block;
}

.footer-social a:hover {
    opacity: 0.6;
}

.footer-social a:active {
    opacity: 0.1;
}

.footer-contacts a, .footer-navigation a, .footer-user-navigation a {
    color: #ffffff;
}

.copyright {
    width: 380px;
    text-align: right;
}

.copyright:hover {
    opacity: 0.6;
}

.copyright:active {
    opacity: 0.3;
}

/* Modal */

body {
    position: relative;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 960px;
    height: 550px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
    transform: translate(-50%, -50%);
    z-index: 50;
}

.map {
    width: 100%;
    height: 100%;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.modal-map {
    display: none;
}

.modal-contact {
    display: none;
    padding: 92px 100px 80px;
}

.form-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 760px; */
}

.form-fields .contact-element-comment {
    flex-basis: 100%;
}


.contact-element .field-label {
    display: block;
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 0.2px;
    color: #000000;
    margin-bottom: 8px;
}

.contact-element .form-input {
    display: block;
    width: 360px;
    margin: 0 0 35px;
    padding: 15px 20px 17px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    background-color: #F2F2F2;
    border: 3px solid transparent;
    outline: none;
}

.contact-element .textarea-input {
    display: block;
    width: 100%;
    height: 155px;
    resize: none;
    margin-bottom: 40px;
    padding: 15px 20px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    background-color: #F2F2F2;
    border: 3px solid transparent;
    outline: none;
}

.contact-element-comment label {
    display: block;
    width: 100%;
}

.contact-element .form-input::placeholder, .contact-element .textarea-input::placeholder {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: rgba(70, 70, 70, 0.4)
}

.contact-element .form-input:hover, .contact-element .textarea-input:hover {
    background-color: #ebebeb;
}

.contact-element .form-input:focus, .contact-element .textarea-input:focus {
    background-color: #ffffff;
    border-color: #F8E297;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    background: url("../img/modal-close.svg") 0 0 no-repeat;
    opacity: 0.5;
    cursor: pointer;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.3;
}

/* Catalog-page */

.catalog-title {
    width: 1160px;
    margin: 0 auto;
    padding: 35px 60px 45px;
    cursor: pointer;
}

.catalog-title h1 {
    margin-bottom: 25px;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
}

.breadcrumbs li {
    position: relative;
    margin-right: 38px;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs li::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -20px;
    width: 5px;
    height: 8px;
    background: url(../img/nav-arrow.svg) 0 0 no-repeat;
}

.breadcrumbs a {
    opacity: 0.3;
    color: #000000
}

.breadcrumbs a:hover {
    opacity: 0.6;
}

.breadcrumbs a:active {
    opacity: 0.3;
}

.breadcrumbs-current {
    opacity: 0.3;
    color: #000000
}

.breadcrumbs-current::after {
    display: none;
}

.catalog-content {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.filter {
    background-color: #eeeeee;
    width: 330px;
    position: relative;
    flex-shrink: 0;
}

.filter-title {
    background-color: #DBDBDB;
    padding-left: 60px;
    margin-bottom: 70px;
    position: relative;
}

.filter-title::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #DBDBDB;
    width: 100vw;
    z-index: -1;
}

.catalog-content b {
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 70px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    color: #000000;
}

.filter::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #eeeeee;
    width: 100vw;
    z-index: -1;
}

.filter-form {
    padding: 0 60px;
}

.filter fieldset {
    margin: 0 0 32px;
    padding: 0;
    border: none;
}

.filter legend {
    position: relative;
    margin-bottom: 20px;
    padding: 12px 0 0;
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 0.2px;
    color: #000000;
}

.filter legend::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 2px;
    background-color: #000000;
}

.range-controls {
    position: relative;
    margin-top: 5px;
    padding: 10px 0 33px;
}

.range-controls .scale {
    width: 200px;
    height: 2px;
    background-color: #dbdbdb;
}

.range-controls .bar {
    width: 56%;
    height: 2px;
    background-color: #91c92f;
}

.range-toggle {
    position: absolute;
    top: 0px;
    width: 20px;
    height: 22px;
    background-color: #ffffff;
    background: url("../img/toggle.svg") 0 0 no-repeat;
    cursor: pointer;
}

.range-toggle-min {
    left: -6px;
}

.range-toggle-max {
    left: 107px;
}

.range-toggle .range-value {
    display: flex;
    position: absolute;
    top: 22px;
    font-family: 'gilroylight', 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.range-toggle .min-price {
    left: 4px;
}

.range-toggle .max-price {
    left: -18px;
}

.range-value span {
    padding-right: 5px;
}

.range-value input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.filter-option {
    padding-left: 40px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 39px;
    font-weight: 300;
    letter-spacing: 0.1px;
    color: #000000;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox+span::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    top: 8px;
    left: -40px;
    background: url(../img/checkbox-off.svg) 0 0 no-repeat;
}

.filter-input-checkbox:checked+span::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    top: 8px;
    left: -40px;
    background: url(../img/checkbox-on.svg) 0 0 no-repeat;
}

.filter-input-radio+span::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 7px;
    left: -40px;
    border: 4px solid #000000;
    border-radius: 50%;
}

.filter-input-radio:checked+span::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    top: 15px;
    left: -32px;
    background-color: #000000;
    border-radius: 50%;
}

.filter-input:disabled+span {
    color: #a6a6a6;
}

.filter-input:hover+span::before, .filter-input:hover+span::after {
    opacity: 0.6;
}

.filter-input:active+span::before, .filter-input:active+span::after {
    opacity: 1;
}

.filter-input-checkbox:active+span::before {
    width: 27px;
    height: 23px;
    background: url(../img/checkbox-on.svg) 0 0 no-repeat;
}

.filter-input-checkbox:checked:active+span::before {
    width: 23px;
    height: 23px;
    background: url(../img/checkbox-off.svg) 0 0 no-repeat;
}

.catalog-sorting {
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    position: relative;
    padding-left: 70px;
    width: 830px;
}

.catalog-sorting::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #eeeeee;
    width: 100vw;
    z-index: -1;
}

.sorting-list {
    display: flex;
    padding: 0 0 0 55px;
    align-items: center;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.sorting-by-types {
    display: flex;
}

.sorting-list-element {
    margin-right: 30px;
}

.sorting-list a {
    color: #000000;
    opacity: 0.3;
}

.sorting-list-element a:hover {
    opacity: 0.6;
}

.sorting-list-element a:active {
    opacity: 1;
}

.sorting-list .chosen {
    opacity: 1;
}

.sorting-order {
    display: flex;
    align-items: center;
    width: 60px;
    min-height: 70px;
}

.sorting-order-button {
    display: inline-block;
    margin-left: 19px;
    width: 11px;
    height: 10px;
}

.sorting-order-button a {
    width: 11px;
    height: 10px;
}

.sorting-order-button a:hover {
    opacity: 0.4;
}

.sorting-order-button a:active {
    opacity: 1;
}

.sorting-order .min-to-max {
    display: block;
    background: url("../img/icon-up-dir.svg") 0 0 no-repeat;
}

.sorting-order .current {
    opacity: 0.2;
}

.sorting-order .max-to-min {
    display: block;
    background: url("../img/icon-down-dir.svg") 0 0 no-repeat;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px 70px 0;
    width: 760px;
}

.catalog-item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    width: 360px;
}

.catalog-item-title {
    order: 1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.catalog-item h3 {
    margin: 0;
    width: 260px;
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 0.2px;
    color: #000000;
}

.catalog-item a {
    color: #000000;
}

.catalog-item-price {
    margin: 0;
    padding: 0;
    font-family: 'gilroylight', 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 0.2px;
    text-align: right;
    color: #464646;
}

.catalog-item-image {
    position: relative;
    width: 360px;
    height: 380px;
    margin-bottom: 32px;
}

.image-hover {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 380px;
    background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item-image:hover .image-hover {
    display: flex;
    cursor: pointer;
}

.button .add-to-cart-button {
    margin-bottom: 10px;
}

.image-hover .add-to-compare {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0.13px;
    color: #000000;
    opacity: 0.5;
}

.image-hover .add-to-compare:hover {
    opacity: 1;
}

.image-hover .add-to-compare:active {
    opacity: 0.2;
}

.new-item::after {
    content: "New";
    position: absolute;
    top: 30px;
    right: 28px;
    width: 56px;
    height: 56px;
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 56px;
    font-weight: normal;
    letter-spacing: 0.2px;
    text-align: center;
    text-transform: uppercase;
    color: #BEBEBE;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 760px;
    margin: -8px auto 77px;
    background-color: #ebebeb;
}

.direction-button a {
    display: block;
    padding: 23px 30px;
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    color: #000000;
}

.direction-button a:hover {
    background-color: #D8D8D8;
}

.direction-button a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #D8D8D8;
}

.pages-list-item {
    margin-right: 30px;
}

.pages-list-item:last-child {
    margin-right: 0;
}

.pages-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pages-list-item a {
    font-family: 'gilroyextrabold', 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 70px;
    font-weight: normal;
    letter-spacing: 0.91px;
    color: #000000;
    opacity: 0.3;
}

.pages-list-item a:hover {
    opacity: 0.6;
}

.pages-list-item a:focus, .pages-list-item a:active {
    opacity: 1;
}

.pages-item-current a {
    opacity: 1;
}

.pages-item-current a:hover {
    opacity: 0.6;
}